.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-left: 148px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .intro__text {
    font-size: 16px;
    line-height: 26.08px;
    width: 288px;
    font-weight: 400;
    margin-left: 16px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .intro__text {
    width: 720px;
    height: 208px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.08px;
    margin-left: 24px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .intro__text {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
